.nieuws-wrapper{
  .entry-header{
    margin-bottom:30px;
  }
  .margin{
    margin:20px 0;
  }
  .nieuws-item{
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,.05);
    height:95%;
    .nieuws-item-thumbnail{
      height:300px;
      background-size: cover !important;
      background-position: center !important;

      .nieuws-item-date{
        position: absolute;
        right:25px;
        top:10px;
        background: $color__company-secondary;
        color:#fff;
        font-size: .9em;
        padding:5px 10px;
      }

      .nieuws-item-title{
        position: relative;
        min-height: 300px;
        h3{
          color: #fff;
          font-weight: 500;
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .nieuws-item-excerpt{
      padding-bottom:20px;
      p{
        padding:10px 15px;
        margin-bottom:3em;
      }
    }
    .nieuws-item-readmore{
      position: absolute;
      bottom:45px;
      right:30px;
      a{
        &:link, &:visited{
          font-weight: 700;
          text-decoration: none;
        }
        .readmore-btn{
          background: $color__cta;
          color: #fff;
          padding:5px 15px;
          border-radius: 100px;
          font-size: .9em;
          transition: .2s ease-in-out;
          &:hover{
            background: $color__company-primary;
          }
          &::after{
            color: #fff;
            content:"\00bb";
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  .nieuws-wrapper {
    .nieuws-item {
      .nieuws-item-thumbnail {
        .nieuws-item-date{
          top:22px;
        }
      }
      .nieuws-item-readmore{
        bottom:35px;
      }
    }
  }
}