a {
  @extend %transition;
  color: $color__company-secondary;

  &:visited {
    color: $color__company-secondary;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__cta;
    @extend %transition;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
  &.link-white{
    color:#fff;
  }
}