.navbar-overlay{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  position: fixed;
  width:0;
  background: url("../../img/main-bg.jpg") no-repeat;
  background-size: cover;
  top:0;
  right:0;
  height:100%;
  z-index:10;

  .navbar-wrapper{
    display: none;
    button{
      border:none;
      span{
        background-image: url("../../img/menu-close.png") !important;
        height:60px !important;
      }
    }
    .navbar-overlay-search{
      margin: 1% 0;
    }
    .navbar-overlay-list{
      ul#primary-menu {
        list-style: none;
        padding: 0;
        li.menu-item {
          font-size: 2.5em;
          font-weight: 700;
          padding: 10px 0;
          a:link, a:visited {
            color: $color__text-white;
          }
          ul.sub-menu{
            display: none;
          }
          &.header-hidden{
            display: none;
          }
        }
      }
    }
    .navbar-overlay-social{
      border-top: solid 1px $color__text-white;
      margin: 2.5% 0;
      padding:2% 0;
      a{
        text-decoration: none;
      }
      .icon{
        margin:4% 2%;
        display: inline-block;
        width:50px;
        height: 50px;
        cursor:pointer;
        @extend %transition;
        &.fb{
          background: url("../../img/facebook.png");
          background-size: contain;
          &:hover{
            background: url("../../img/facebook-hover.png");
            background-size: contain;
            @extend %transition;
          }
        }
        &.li{
          background: url("../../img/linkedin.png");
          background-size: contain;
          &:hover{
            background: url("../../img/linkedin-hover.png");
            background-size: contain;
            @extend %transition;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1440px){
  .navbar-overlay {
    .navbar-wrapper {
      .navbar-overlay-list {
        ul#primary-menu {
          li.menu-item{
            font-size: 1.75em;
          }
        }
      }
    }
  }
}
