input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__company-primary;
  border: none;
  padding: 10px;
  background: rgba(116, 185, 232, 0.1);
  width: 100%;

  &:focus {
    color: $color__company-primary;
  }
  &::placeholder {
    color: $color__company-secondary;
    opacity: .5;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

input[type='submit'] {
  width: 100%;
  padding: 15px;
  border: none;
  background: $color__cta;
  color: $color__text-white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  @extend %transition;
  &:hover{
    background: $color__company-primary;
  }
}

form {
  margin-top: 20px;
}

.navbar-overlay {
  form {
    label{
      width:75%;
    }
    input[type='search'] {
      width: 100%;
      display: inline-block;
      background: rgba(255, 255, 255, .7);
    }
    input[type='submit'] {
      width: 22%;
      display: inline-block;
    }
  }
}

.btn-primary{
  width: fit-content;
  background: $color__cta;
  padding:10px 15px;
  border-radius: 100px;
  transition: .2s ease-in-out;
  a{
    text-decoration: none;
    &:link, &:visited, &:hover{
      color: #fff;
    }
  }
  &::after{
    content: '\00bb';
    margin-left:5px;
  }
  &:hover{
    background: $color__company-primary;
  }
}
