footer.site-footer{
  background: $color__company-primary;
  padding:20px;
  .footer-left{
    img{
      width:100%;
    }
  }
  .footer-menu{
    ul#footer-menu{
      list-style-type: none;
      text-align: left;
      margin:1.5% 0;
      padding:0;
      > li{
        width:20%;
        height:40px;
        float:left;
        padding:0 10px;
        text-align: left;

        a:link, a:visited{
          color: #fff;
        }
        a:hover{
          text-decoration: underline;
        }

        ul.sub-menu{
          list-style-type: none;
          padding:0;
          margin:0;
          li{
            text-align: left;
            padding:0 5px;
          }
        }

        &.footer-hide{
          display: none;
        }
      }
    }
  }
  .footer-social{
    text-align: center;
    margin-top:20px;
    .icon{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor:pointer;
      @extend %transition;
      &.fb{
        background: url("../../img/facebook.png");
        background-size: contain;
        &:hover{
          background: url("../../img/facebook-hover.png");
          background-size: contain;
          @extend %transition;
        }
      }
      &.li{
        background: url("../../img/linkedin.png");
        background-size: contain;
        &:hover{
          background: url("../../img/linkedin-hover.png");
          background-size: contain;
          @extend %transition;
        }
      }
    }
  }
}

@media all and (max-width: 992px){
  footer.site-footer{
    .footer-menu{
      ul#footer-menu{
        > li{
          width:25%;
          height:75px;
        }
      }
    }
    .footer-social{
      display: block;
      width:100%;
      float:left;
      text-align: center;
    }
  }
}

@media all and (max-width: 768px){
  footer.site-footer{
    .footer-menu{
      margin-top:20px;
      ul#footer-menu{
        > li{
          width:33%;
          text-align: center;
          height:50px;
        }
      }
    }
    .footer-social{
      display: block;
      width:100%;
      float:left;
      text-align: center;
    }
  }
}