section.front-page {
  .page-content {
    #post-header-wrapper {
      h2 {
        font-weight: 700;
        margin: 0;
        color: $color__company-secondary;
      }
      .expertises-children-content {
        padding: 50px 0;

        .expertises-child-wrapper {
          padding: 50px 0;
          .expertises-child-item {
            height: 100%;
            padding: 10px 15px;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, .075);

            .expertise-icon {
              width: 100%;
              padding: 10px 0;
              text-align: center;
              img {
                width: 50px;
              }
            }
            .expertises-title {
              text-align: center;
              padding: 15px 0;
              span {
                margin-right: 10px;
                img {
                  margin-top: -5px;
                  width: 25px;
                }
              }
              h2 {
                display: inline-block;
                font-weight: 700;
                font-size: 1.25em;
                margin: 0;
                color: $color__text-white;
                text-transform: uppercase;
              }
              h3 {
                display: inline-block;
                font-weight: 700;
                margin: 0;
                color: $color__company-primary;
              }
            }
            .expertises-desc {
              padding-right: 10px;
              line-height: 1.75em;
              margin-bottom: 60px;
              .expertises-read-more {
                position: absolute;
                right: 25px;
                bottom: 15px;
                margin-top: 15px;
                a {
                  &:link, &:visited {
                    color: #fff;
                    text-decoration: none;
                  }
                  .readmore-btn {
                    background: $color__cta;
                    color: #fff;
                    padding: 2px 15px;
                    border-radius: 100px;
                    font-size: .9em;
                    transition: .2s ease-in-out;
                    &:hover {
                      background: $color__company-primary;
                    }
                    &::after {
                      color: #fff;
                      content: "\00bb";
                    }
                  }
                }
              }
            }
          }
        }
      }

      .main-info-wrapper {
        padding: 10% 0;
        background: url("../../img/bg-leader.jpg");
        background-size: cover;
        background-position: top;
        .over-ons-wrapper {
          .over-ons-item {
            h2 {
              color: $color__text-white;
              border-bottom: 1px solid #fff;
              padding-bottom: 10px;
              margin: 0 0 25px;
            }
            p {
              line-height: 1.75em;
              color: $color__text-white;
            }
            div.read-more {
              margin-top: -10px;
              font-weight: 700;
              a {
                &:link, &:visited {
                  color: #fff;
                  @extend %transition;
                }
                &::after {
                  content: '\00bb';
                }
              }
              a:hover {
                @extend %transition;
              }
            }
          }
        }
      }

      .main-abonnement-wrapper {
        padding: 75px 0;

        .abonnement-content {
          margin-top: 50px;

          .abonnement-item {
            padding: 25px;
            box-shadow: 0 0 2px rgba(0, 0, 0, .1);
            &.item-left {
              background: url('../../img/man.jpg');
              background-size: cover;
            }
            &.item-right {
              background: url('../../img/woman.jpg');
              background-size: cover;
            }
            .item-desc {
              width: 55%;
              margin-left: 45%;

              a {
                &:link, &:visited {
                  color: #fff;
                  text-decoration: none;
                }
                .readmore-btn {
                  background: $color__cta;
                  width: fit-content;
                  border-radius: 100px;
                  padding: 7px 20px;
                  font-size: .9em;
                  transition: .2s ease-in-out;
                  &:hover {
                    background: $color__company-primary;
                  }
                  &::after {
                    color: #fff;
                    content: "\00bb";
                  }
                }
              }
            }
          }
        }
      }

      .pre-footer-reviews {
        background: $color__soft-bg;
        .review-wrapper {
          padding: 50px 0;
          .easy_t_aggregate_rating_wrapper {
            display: none;
          }

          .progressbar {
            margin-left: 18%;
            .inner {
              margin: 0 auto;
            }
          }

          .circle {
            width: 130px;
            height: 130px;
            margin: 0 auto;
            margin-top: 10px;
            display: inline-block;
            position: relative;
            text-align: center;
          }
          .circle:after {
            width: 120px;
            height: 120px;
            content: "";

            border-radius: 50%;
            display: block;
            position: absolute;
            top: 30px;
            left: 30px;
          }

          .circle canvas {
            vertical-align: middle;
            border-radius: 50%;
          }

          .circle div {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -22px 0 0 -65px;
            width: 100%;
            text-align: center;
            line-height: 40px;
            color: $color__company-primary;
            font-size: 3.5em;
            font-weight: 700;

          }
          .circle strong i {
            font-style: normal;
            font-size: 0.6em;
            font-weight: normal;
          }
          .circle span {
            display: block;
            color: white;
            margin-top: 12px;
          }

          .based_on {
            text-align: center;
            margin-top: 30px;
            padding-left: 10px;
            p {
              color: #000;
              line-height: 1em;
              font-size: 1.5em;
              span {
                display: block;
                font-size: 1.5em;
                padding: 15px 0;
              }
            }
          }

          .easy_t_single_testimonial {
            padding: 25px 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            &:last-of-type {
              border: none;
            }

            blockquote {
              margin: 0;
              &::before, &::after {
                content: '';
              }
              font-style: normal;
              color: #000;
              display: flex;
              flex-direction: column;
              p {
                margin-bottom: 0;
              }
              .easy_testimonial_title {
                order: 1;
                font-size: 1.25em;
                padding: 5px 0;
                font-weight: 700;
              }
              .testimonial_body {
                order: 2;
              }
              .testimonial_author {
                order: -1;
                cite {
                  display: flex;
                  flex-direction: row;
                  order: -1;
                  .stars {
                    order: -1;
                    .dashicons {
                      display: inline-block;
                      background: url("../../img/star-filled.png") no-repeat;
                      background-size: contain;
                      width: 20px;
                      height: 20px;
                      &.empty {
                        background: url("../../img/star.png") no-repeat;
                        background-size: contain;
                      }
                    }
                  }
                  .testimonial-client {
                    font-style: normal;
                    order: 1;
                    font-weight: 700;
                    margin: 0 5px;
                  }
                  .date {
                    font-style: normal;
                    order: 2;
                    &::before {
                      content: 'op ';
                    }
                  }
                }
              }
            }
          }

          a {
            text-decoration: none;
          }
          .more-reviews {
            text-align: center;
            background: $color__cta;
            width: 200px;
            border-radius: 100px;
            box-shadow: 0 0 50px #fff;
            padding: 10px;
            color: #fff;
            transition: .2s ease-in-out;
            &::after {
              content: '\00bb';
            }
            &:hover {
              background: $color__company-primary;
              transition: .2s ease-in-out;
            }
          }

          .review-all {
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: $color__company-secondary;
            color: $color__text-white;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            @extend %transition;
            &:hover {
              background: $color__company-primary;
              @extend %transition;
            }
          }
        }
      }

      .pre-footer-news {
        background: rgba(0, 0, 0, 0.01);
        padding: 50px 0;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  section.front-page {
    .page-content {
      #post-header-wrapper {
        .expertises-children-content {
          .expertises-child-wrapper {
            .expertises-child-item {
              .expertises-desc {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  section.front-page {
    .page-content {
      #post-header-wrapper {
        .over-ons-video {
          margin: 25px 0;
          padding-left: 25px;
          img {
            width: 100%;
          }
        }
        .over-ons-wrapper {
          margin: 25px 0;
          padding-right: 25px;
        }
        .nieuws-wrapper {
          margin: 25px 0;
          padding: 0 25px;
        }

        .review-wrapper, .expertises-wrapper {
          margin: 25px -20px;
          .review-all {
            position: relative;
          }
        }
      }
      .main-abonnement-wrapper {
        .abonnement-content {
          .abonnement-item {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  section.front-page {
    .page-content {
      #post-header-wrapper {
        .expertises-children-content {
          .expertises-child-wrapper {
            .expertises-child-item {
              height: auto;
              .expertises-desc {
                margin-bottom: 50px;
                .expertises-read-more {
                  bottom: 35px;
                }
              }
            }
          }
        }
        .over-ons-video {
          margin: 0;
          padding: 0 25px;
          img {
            width: 100%;
          }
        }
        .over-ons-wrapper {
          padding: 0 25px;
        }

        .nieuws-wrapper {
          margin: 25px 0;
          padding: 0 25px;
          .nieuws-item {
            .nieuws-item-title {
              margin-top: 12px;
            }
          }
        }
        .review-wrapper, .expertises-wrapper {
          padding: 0 25px;
          margin: 0;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  section.front-page {
    .page-content {
      #post-header-wrapper {
        .main-info-wrapper {
          background-position: left;
          text-align: center;
        }
        .main-abonnement-wrapper {
          .abonnement-content {
            .abonnement-item {
              .item-desc {
                margin-top: 60%;
                margin-left: 0;
                width: 100%;
                h3 {
                  color: #fff;
                  text-shadow: 1px 1px 1px #000;
                }
                blockquote {
                  color: #fff;
                  text-shadow: 1px 1px 1px #000;
                }
              }
            }
          }
        }
      }
    }
  }
}



