#page {
  overflow-x: hidden;
}

.front-header {
  background: url("../../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.bedankt-header{
    height:100vh;
  }
}

.page-header {
  background: url("../../img/main-bg.jpg");
  background-position: bottom;
  background-size: cover;
}


#header-wrapper, #header-wrapper-page, .page-all {
  .telefoon-wrapper{
    position: absolute;
    top:0;
    right:6%;
    padding:10px;
    background: $color__company-primary;
    font-weight: 700;
    transition: .2s ease-in-out;
    &.t-page{
      right:2.5%;
      padding:10px;
    }
    &:hover{
      background: $color__cta;
    }
    a{
      &:link, &:visited{
        color: #fff;
        text-decoration: none;
      }
    }
    .tel{
      padding: 15px 15px 15px 45px;
      &::before{
        content:' ';
        position: absolute;
        margin-left:-35px;
        width:25px;
        height:25px;
        background: url("../../img/telephone.svg");
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
      }
    }
  }
  .navbar-wrapper {
    padding-top: 2.5%;
    .navbar{
      padding:0;
    }
    .navbar-brand {
      img {
        width: 50%;
        min-width: 300px;
      }
    }
    button {
      border: none;
      span {
        background-image: url("../../img/menu.png");
        border: none !important;
        outline: none;
        width: 60px;
        height: 50px;
      }
    }
  }

  .navbar-wrapper-page {
    padding: 50px 0;
  }

  .post-nav-wrapper {
    padding:12% 0;
    .site-description-wrapper{
      margin-top:-100px;
      h1 {
        margin: 0;
        font-size: 3em;
        font-weight: 700;
        color: $color__text-white;
        &strong {
          font-weight: 700;
        }
      }
      p{
        margin:25px 0;
        color: $color__text-white;
        font-size: 1em;
        line-height:1.75em;
      }
      .btn{
        padding:10px 55px;
        background: $color__cta;
        box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        color: #fff;
        font-size: 1.5em;
        &:hover{
          transition: .2s ease-in-out;
          background: $color__company-primary;
        }
      }
    }
    .image-wrapper{
      img{
        opacity: 0;
        margin-left:10%;
        width:90%;
      }
    }
  }

  .abonnement-wrapper {
    .abonnement-item {
      background: rgba(255, 255, 255, 1);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(131, 215, 246, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(30%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(131, 215, 246, 1)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(131, 215, 246, 1) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(131, 215, 246, 1) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(131, 215, 246, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(131, 215, 246, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#83d7f6', GradientType=0);
      height: 100%;
      &.item {
        padding-bottom: 5px;

        .left-title{
          color: $color__company-secondary;
          padding:2% 5%;
          font-weight: 700;
          font-size: 2em;
        }

        .left-desc{
          padding: 0 5%;
          min-height: 190px;
          margin-bottom:20px;
          line-height: 2.25em;
        }

        .item-title {
          padding: 2% 5%;
          color: $color__text-white;
          font-weight: 700;
          font-size: 1.25em;
        }

        .ic1 {
          text-transform: uppercase;
          font-size: 1.25em;
          font-weight: 700;
        }
        .ic2 {
          float:right;
          font-size: 1.25em;
          color: #fff;
        }

        .item-desc {
          padding: 2% 5%;
          min-height: 190px;
          margin-bottom:20px;
          line-height: 2.25em;
        }

        a:link, a:visited {
          text-decoration: none;
        }

        .item-cta {
          position: absolute;
          bottom:0;
          width:85%;
          left:0;
          margin:15px 7%;
          padding: 10px;
          background: $color__company-secondary;
          text-align: center;
          color: $color__text-white;
          text-transform: uppercase;
          font-size: 1.25em;
          @extend %transition;
          &:hover {
            background: $color__company-primary;
            @extend %transition;
          }
        }
      }
      &.item-right {
        .item-title {
          background: $color__company-primary;
        }
      }
      &.item-left {
        .item-title {
          background: $color__company-secondary;
        }
      }
    }
  }
}

.page-all {
  background: none;
}

@media all and (max-width: 992px){
  #header-wrapper {
    .telefoon-wrapper{
      width:fit-content;
      right:0;
      &.t-page{
        right:0;
      }
    }
    .post-nav-wrapper {
      padding:15% 0;
      .site-description-wrapper{
        padding-left:5%;
        h1{
          font-size:2em;
        }
        .btn{
          font-size: 1em;
          padding:10px 20px;
        }
      }
    }
    .navbar-wrapper{
      &.front{
        padding-top:50px;
      }
      .navbar-brand{
        max-width:25%;
      }
    }
  }
}

@media all and (max-width: 768px) {
  #header-wrapper {
    .telefoon-wrapper{
      position: absolute;
      width:auto;
      text-align: center;
      margin-left:0;
      margin-right:0;
      left:0;
      right:0;
    }
    .navbar-wrapper-page{

    }
    .post-nav-wrapper {
      margin-top:300px;
      padding:0 0 5%;
      .site-description-wrapper{
        padding-left:2%;
        h1 {
          font-size: 2em;
        }
      }
    }
    .abonnement-wrapper {
      margin-top: 50px;
      .abonnement-item {
        margin-bottom: 20px;
      }
    }
  }
}


@media all and (max-width: 414px){
  #header-wrapper{
    .telefoon-wrapper{
      text-align: left;
    }
    .navbar-wrapper{
      button{
          position: absolute;
          top:-45px;
          right:0;
          span{
            width:30px;
            height:25px;
          }

      }
    }
  }
}