.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {

}

.dashicons-star-filled:before{
  content:'' !important;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.breadcrumb-wrapper{
  background: $color__company-primary;
  padding:5px 20px;
  #breadcrumbs{
    margin:0;
    span{
      color:#fff;
      a{
        margin: 0 5px;
        color:#fff;
      }
      &.breadcrumb_last{
        margin: 0 5px;
      }
    }
  }
}

.page {
  .page-all {
    margin: 3% 0;
    .content-left, .content-right {
      padding: 0 2%;
    }

    .abonnement-content {
      .abonnement-item {
        padding: 15px;
        background: $color__company-secondary;
        color: $color__text-white;
        text-align: center;

        .abonnement-list {
          width: fit-content;
          margin: 0 auto;
          padding: 20px 0;
          ul {
            padding: 0;
            margin: 0 auto;
            text-align: left;
            li {
              list-style-type: none;
              line-height: 2.25em;
              span {
                img {
                  margin-top: -2px;
                  margin-right: 5px;
                  width: 15px;
                }
              }
            }
          }
        }
      }
      a {
        &:link, &:visited {
          color: #fff;
          text-decoration: none;
        }
      }
      .cta-button {
        text-align: center;
        background: $color__cta;
        width: 200px;
        border-radius: 100px;
        margin: 0 auto;
        padding: 10px;
        color: #fff;
        transition: .2s ease-in-out;
        &:hover {
          text-decoration: none;
          background: $color__company-primary;
          transition: .2s ease-in-out;
        }
        &::after {
          content: '\00bb';
          padding-left: 5px;
        }
      }
    }

    .entry-header {
      margin-bottom: 25px;
    }

    #page-content {
      .abonnement-wrapper {
        .item {
          margin-bottom: 20px;
        }
      }
      .cta-wrapper {
        margin-bottom: 25px;
        padding: 25px 0;
        background: $color__soft-bg;
        box-shadow: 0 0 10px rgba(116, 185, 232, 0.2);
        .cta-image {
          width: 100%;
        }
        .cta-title {
          padding: 15px 0;
        }

        a {
          &:link, &:visited {
            color: #fff;
            text-decoration: none;
          }
        }

        .cta-button {
          text-align: center;
          background: $color__cta;
          width: 200px;
          border-radius: 100px;
          box-shadow: 0 0 50px #fff;
          margin: 0 auto;
          padding: 10px;
          color: #fff;
          transition: .2s ease-in-out;
          &:hover {
            text-decoration: none;
            background: $color__company-primary;
            transition: .2s ease-in-out;
          }
          &::after {
            content: '\00bb';
            padding-left: 5px;
          }
        }
      }
    }

    .expertises-children-content {
      .expertises-child-wrapper {
        padding: 25px 0;
        .expertises-child-item {
          height: 100%;
          padding: 10px 25px;
          background: #fff;
          box-shadow: 0 0 5px rgba(0, 0, 0, .1);
          transition: .2s ease-in-out;

          &:hover {
            box-shadow: 0 0 5px rgba(116, 185, 232, 1);
            transition: .2s ease-in-out;
          }

          .expertise-icon {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            img {
              width: 50px;
            }
          }
          .expertises-title {
            text-align: center;
            padding: 15px 0;
            span {
              margin-right: 10px;
              img {
                margin-top: -5px;
                width: 25px;
              }
            }
            h2 {
              display: inline-block;
              font-weight: 700;
              font-size: 1.25em;
              margin: 0;
              color: $color__text-white;
              text-transform: uppercase;
            }
            h3 {
              display: inline-block;
              font-weight: 700;
              margin: 0;
              color: $color__company-primary;
            }
          }
          .expertises-desc {
            padding-right: 10px;
            line-height: 1.75em;
            margin-bottom: 50px;
            .expertises-read-more {
              position: absolute;
              right: 40px;
              margin-top: 10px;
              a {
                &:link, &:visited {
                  color: $color__cta;
                  font-weight: 700;
                }
                &:hover {
                  &::after {
                    color: $color__company-primary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .navigation {
    margin: -1.5em 0 1.5em 0;

    .pre-navigation {
      margin-bottom: 10px;
      font-weight: bold;
    }

    .previous, .next {
      display: inline-block;
      width: auto;
    }
    .previous {
      margin-right: 25px;
      &::before {
        content: '\00ab';
        padding-right: 5px;
      }
    }
    .next {
      &::after {
        content: '\00bb';
        padding-left: 5px;
      }
    }
  }

  h1.entry-title {
    font-weight: 700;
    margin: 0 0 10px 0;
    color: $color__company-secondary;
  }

  .page-abonnement-content {
    margin: 3% 0;
    .entry-content {
      margin: 0;
      p {
        line-height: 1.75em;
      }
    }
  }

  .custom {
    .review-wrapper {
      h1 {
        margin-top: -10px;
        margin-bottom: 0;
        padding-bottom: 1%;
        color: $color__company-secondary;
      }
      .easy_t_single_testimonial {
        padding: 25px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        blockquote {
          margin: 0;
          display: flex;
          flex-direction: column;
          .easy_testimonial_title {
            order: 1;
            font-size: 1.25em;
            padding: 5px 0;
            margin: 0;
            font-weight: 700;
          }
          .testimonial_body {
            order: 2;
            p {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .testimonial_author {
            margin-bottom: 0;
            order: -1;
            cite {
              display: flex;
              flex-direction: row;
              order: -1;
              .stars {
                order: -1;
                .dashicons {
                  display: inline-block;
                  background: url("../../img/star-filled.png") no-repeat;
                  background-size: contain;
                  width: 20px;
                  height: 20px;
                  &.empty {
                    background: url("../../img/star.png") no-repeat;
                    background-size: contain;
                  }
                }
              }
              .testimonial-client {
                font-style: normal;
                order: 1;
                font-weight: 700;
                margin: 0 5px;
              }
              .date {
                font-style: normal;
                order: 2;
                &::before {
                  content: 'op ';
                }
              }
            }
          }
        }
      }
      .easy_t_aggregate_rating_wrapper {
        display: none;
      }
      .progressbar {
        display: inline-block;
        width: 300px;
        margin: 50px auto 25px auto;
      }
      .circle {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        margin-top: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
      }
      .circle:after {
        width: 120px;
        height: 120px;
        content: "";

        border-radius: 50%;
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
      }

      .circle canvas {
        vertical-align: middle;
        border-radius: 50%;
      }

      .circle div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -22px 0 0 -65px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        color: $color__company-primary;
        font-size: 3.5em;
        font-weight: 700;

      }
      .circle strong i {
        font-style: normal;
        font-size: 0.6em;
        font-weight: normal;
      }
      .circle span {
        display: block;
        color: white;
        margin-top: 12px;
      }

      .based_on {
        text-align: center;
        margin-top: 30px;
        padding-left: 10px;
        p {
          color: #000;
          line-height: 1em;
          font-size: 1.5em;
          span {
            display: block;
            font-size: 1.5em;
            padding: 15px 0;
          }
        }
      }
    }
  }

  .page-nieuwsarchive-content {
    margin: 2% 0;
    .nieuws-archive-wrapper {
      padding:0 10px;
      h1 {
        color: $color__company-secondary;
      }
      .post {
        margin-left: -15px;
        margin-right: -15px;
        .post-excerpt {
          .post-thumbnail {
            width: 25%;
            margin-top: 8px;
            padding-right: 10px;
            float: left;
          }
        }
        .post-date {
          font-weight: 700;
          color: $color__company-secondary;
        }
        .post-title {
          h2 {
            font-size: 1.2em;
            margin-bottom: -15px;
            a:link, a:visited {
              color: $color__company-primary;
              font-weight: 700;
            }
          }
        }
      }
      .pagination {
        bottom: 0;
        width: 100%;
        text-align: center;
        display: block;
        a {
          &:link, &:visited {
            color: $color__company-secondary;
          }
        }
        .current {
          font-weight: 700;
        }
      }
    }
  }

  .page-single-content {
    margin: 3% 0;
    .nieuws-single-wrapper {
      .post {
        .post-date {
          span {
            color: $color__company-secondary;
            font-weight: 700;
          }
        }
        .post-thumbnail {
          margin:25px 0;
          img {
            width:50%;
          }
        }
      }
    }
  }

  .page-contact-content {
    p {
      margin-bottom: 0;
    }
    margin: 3% 0;
    .contact-left {
      p {
        padding: 5px 0;
        span {
          color: $color__company-secondary;
        }
      }
    }
    .contact-img{
      height:100%;
      background: url('../../img/mike.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .map-wrapper{
      background: rgba(0, 0, 0, .01);
      margin:0 -15px;
    }
    .contact-right {
      line-height: 1.75em;
      margin-top: 75px;
      .contact-info-wrapper{
        position: absolute;
        bottom:15px;
        left:25px;
        text-align: center;
        background: #fff;
        padding:15px;
        .contact-info-title {
          color: $color__company-secondary;
        }
        .contact-info-desc {
          span {
            color: $color__company-secondary;
            font-weight: 700;
          }
          a:link, a:visited {
            color: $color__text-main;
            &:hover {
              color: $color__company-secondary;
              text-decoration: none;
            }
          }
        }
      }
      .contact-maps {
        width: 100%;
      }

    }
  }

  #side-nav {
    .main-navigation {
      .nieuws-nav {
        h2 {
          font-weight: 700;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            padding: 10px 0;
            a:link, a:visited {
              color: $color__company-primary;

              font-size: 1em;
            }
            &.active {
              a:link, a:visited {
                color: $color__company-secondary;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .page {
    .expertises-children-content {
      .expertises-child-wrapper {
        .expertises-child-item {
          &.front{
            margin-bottom: 25px;
          }
        }
        &:last-of-type {
          margin-bottom: -20px;
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .page-abonnement-content {
    .abonnement-overview {
      margin: 2% 0 3%;
    }
  }
  #side-nav {
    margin-bottom: 25px;
  }
  .page {
    .page-all {
      #page-content {
        .cta-wrapper{
          width:48%;
          float:left;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .page {
    .page-contact-content {
      .contact-right {
        margin-top: -20px;
        .contact-maps {
          margin-top: 20px;
        }
      }
    }
    .page-all{
      .expertises-children-content{
        .expertises-child-wrapper{
          .expertises-child-item{
            height:90%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 576px){
  .page {
    .page-all {
      #page-content {
        .cta-wrapper{
          width:100%;
          float:none;
        }
      }
    }
    .page-contact-content {
      .contact-right{
        .contact-info-wrapper{
          position: relative;
          margin-top:25px;
          left:0;
        }
      }
    }
  }
}
