$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-white: #ffffff;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #0485f4;
$color__link-visited: #0485f4;
$color__link-hover: #2b3743;
$color__text-main: #2b3743;

$color__company-primary: #403F63;
$color__company-secondary: #74B9E8;
$color__cta: #e89c74;

$color__abonnement-overview: #def5fd;
$color__abonnement-list: #00aeef;
$color__list: #00aeef;
$color__border: #dcf8ff;
$color__review: #00e7ff;

$color__soft-bg: #f4fcff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
